@import "tailwindcss";

:root {
  --shadow: 8px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

@theme inline {
  --font-space: var(--font-space);
  --animate-caret-blink: caret-blink 1.2s ease-out infinite;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #262626 inset !important; /* Set your desired background color */
  -webkit-text-fill-color: white !important; /* Text color */
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: black;
  color: white;
  font-family: var(--font-space);
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}
